body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
}

#space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#head {
  margin-bottom: 10px;
}

#content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

#buttons button {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Cada imagen independiente */
#img-head {
  height: 90px; /* inicial */
  width: auto;
}

#img-light {
  height: 90px;
  width: auto;
}

#img-dark-day {
  height: 90px;
  width: auto;
}

#img-dark-night {
  height: 90px;
  width: auto;
}

#img-lateral {
  height: 400px;
  width: auto;
}

#img-top {
  height: 200px;
  width: auto;
}

#img-bot {
  height: 150px;
  width: auto;
}

#img-footer {
  height: 50px;
  width: auto;
}

#img-info {
  height: 400px;
  width: auto;
}
